<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.live.liveteam.mapper.CouponsMapper">
  <resultMap id="BaseResultMap" type="com.live.liveteam.entity.Coupons">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="open_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="coupons_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="coupons_value" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="coupons_require" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="coupons_goods_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="coupons_state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="coupons_start_time" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="coupons_use_time" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="coupons_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, open_id, coupons_type, coupons_value, coupons_require, coupons_goods_id, coupons_state, 
    coupons_start_time, coupons_use_time, coupons_desc
  </sql>
  <select id="selectByExample" parameterType="com.live.liveteam.entity.CouponsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from coupons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupons
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupons
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.live.liveteam.entity.CouponsExample">
    delete from coupons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.live.liveteam.entity.Coupons">
    insert into coupons (id, open_id, coupons_type, 
      coupons_value, coupons_require, coupons_goods_id, 
      coupons_state, coupons_start_time, coupons_use_time, 
      coupons_desc)
    values (#{id,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, #{couponsType,jdbcType=INTEGER}, 
      #{couponsValue,jdbcType=INTEGER}, #{couponsRequire,jdbcType=INTEGER}, #{couponsGoodsId,jdbcType=BIGINT}, 
      #{couponsState,jdbcType=INTEGER}, #{couponsStartTime,jdbcType=BIGINT}, #{couponsUseTime,jdbcType=BIGINT}, 
      #{couponsDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.live.liveteam.entity.Coupons">
    insert into coupons
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="couponsType != null">
        coupons_type,
      </if>
      <if test="couponsValue != null">
        coupons_value,
      </if>
      <if test="couponsRequire != null">
        coupons_require,
      </if>
      <if test="couponsGoodsId != null">
        coupons_goods_id,
      </if>
      <if test="couponsState != null">
        coupons_state,
      </if>
      <if test="couponsStartTime != null">
        coupons_start_time,
      </if>
      <if test="couponsUseTime != null">
        coupons_use_time,
      </if>
      <if test="couponsDesc != null">
        coupons_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="couponsType != null">
        #{couponsType,jdbcType=INTEGER},
      </if>
      <if test="couponsValue != null">
        #{couponsValue,jdbcType=INTEGER},
      </if>
      <if test="couponsRequire != null">
        #{couponsRequire,jdbcType=INTEGER},
      </if>
      <if test="couponsGoodsId != null">
        #{couponsGoodsId,jdbcType=BIGINT},
      </if>
      <if test="couponsState != null">
        #{couponsState,jdbcType=INTEGER},
      </if>
      <if test="couponsStartTime != null">
        #{couponsStartTime,jdbcType=BIGINT},
      </if>
      <if test="couponsUseTime != null">
        #{couponsUseTime,jdbcType=BIGINT},
      </if>
      <if test="couponsDesc != null">
        #{couponsDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.live.liveteam.entity.CouponsExample" resultType="java.lang.Long">
    select count(*) from coupons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update coupons
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.couponsType != null">
        coupons_type = #{record.couponsType,jdbcType=INTEGER},
      </if>
      <if test="record.couponsValue != null">
        coupons_value = #{record.couponsValue,jdbcType=INTEGER},
      </if>
      <if test="record.couponsRequire != null">
        coupons_require = #{record.couponsRequire,jdbcType=INTEGER},
      </if>
      <if test="record.couponsGoodsId != null">
        coupons_goods_id = #{record.couponsGoodsId,jdbcType=BIGINT},
      </if>
      <if test="record.couponsState != null">
        coupons_state = #{record.couponsState,jdbcType=INTEGER},
      </if>
      <if test="record.couponsStartTime != null">
        coupons_start_time = #{record.couponsStartTime,jdbcType=BIGINT},
      </if>
      <if test="record.couponsUseTime != null">
        coupons_use_time = #{record.couponsUseTime,jdbcType=BIGINT},
      </if>
      <if test="record.couponsDesc != null">
        coupons_desc = #{record.couponsDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update coupons
    set id = #{record.id,jdbcType=BIGINT},
      open_id = #{record.openId,jdbcType=VARCHAR},
      coupons_type = #{record.couponsType,jdbcType=INTEGER},
      coupons_value = #{record.couponsValue,jdbcType=INTEGER},
      coupons_require = #{record.couponsRequire,jdbcType=INTEGER},
      coupons_goods_id = #{record.couponsGoodsId,jdbcType=BIGINT},
      coupons_state = #{record.couponsState,jdbcType=INTEGER},
      coupons_start_time = #{record.couponsStartTime,jdbcType=BIGINT},
      coupons_use_time = #{record.couponsUseTime,jdbcType=BIGINT},
      coupons_desc = #{record.couponsDesc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.live.liveteam.entity.Coupons">
    update coupons
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="couponsType != null">
        coupons_type = #{couponsType,jdbcType=INTEGER},
      </if>
      <if test="couponsValue != null">
        coupons_value = #{couponsValue,jdbcType=INTEGER},
      </if>
      <if test="couponsRequire != null">
        coupons_require = #{couponsRequire,jdbcType=INTEGER},
      </if>
      <if test="couponsGoodsId != null">
        coupons_goods_id = #{couponsGoodsId,jdbcType=BIGINT},
      </if>
      <if test="couponsState != null">
        coupons_state = #{couponsState,jdbcType=INTEGER},
      </if>
      <if test="couponsStartTime != null">
        coupons_start_time = #{couponsStartTime,jdbcType=BIGINT},
      </if>
      <if test="couponsUseTime != null">
        coupons_use_time = #{couponsUseTime,jdbcType=BIGINT},
      </if>
      <if test="couponsDesc != null">
        coupons_desc = #{couponsDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.live.liveteam.entity.Coupons">
    update coupons
    set open_id = #{openId,jdbcType=VARCHAR},
      coupons_type = #{couponsType,jdbcType=INTEGER},
      coupons_value = #{couponsValue,jdbcType=INTEGER},
      coupons_require = #{couponsRequire,jdbcType=INTEGER},
      coupons_goods_id = #{couponsGoodsId,jdbcType=BIGINT},
      coupons_state = #{couponsState,jdbcType=INTEGER},
      coupons_start_time = #{couponsStartTime,jdbcType=BIGINT},
      coupons_use_time = #{couponsUseTime,jdbcType=BIGINT},
      coupons_desc = #{couponsDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>