<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.live.liveteam.mapper.GoodsMadeUpMapper" >
  <resultMap id="BaseResultMap" type="com.live.liveteam.entity.GoodsMadeUp" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="g_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="m_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="m_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="p_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, g_id, m_name, m_desc, p_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.live.liveteam.entity.GoodsMadeUpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from goods_made_up
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goods_made_up
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods_made_up
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.live.liveteam.entity.GoodsMadeUpExample" >
    delete from goods_made_up
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.live.liveteam.entity.GoodsMadeUp" >
    insert into goods_made_up (id, g_id, m_name, 
      m_desc, p_id)
    values (#{id,jdbcType=BIGINT}, #{gId,jdbcType=BIGINT}, #{mName,jdbcType=VARCHAR}, 
      #{mDesc,jdbcType=VARCHAR}, #{pId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.live.liveteam.entity.GoodsMadeUp" >
    insert into goods_made_up
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gId != null" >
        g_id,
      </if>
      <if test="mName != null" >
        m_name,
      </if>
      <if test="mDesc != null" >
        m_desc,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gId != null" >
        #{gId,jdbcType=BIGINT},
      </if>
      <if test="mName != null" >
        #{mName,jdbcType=VARCHAR},
      </if>
      <if test="mDesc != null" >
        #{mDesc,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.live.liveteam.entity.GoodsMadeUpExample" resultType="java.lang.Integer" >
    select count(*) from goods_made_up
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods_made_up
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gId != null" >
        g_id = #{record.gId,jdbcType=BIGINT},
      </if>
      <if test="record.mName != null" >
        m_name = #{record.mName,jdbcType=VARCHAR},
      </if>
      <if test="record.mDesc != null" >
        m_desc = #{record.mDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.pId != null" >
        p_id = #{record.pId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods_made_up
    set id = #{record.id,jdbcType=BIGINT},
      g_id = #{record.gId,jdbcType=BIGINT},
      m_name = #{record.mName,jdbcType=VARCHAR},
      m_desc = #{record.mDesc,jdbcType=VARCHAR},
      p_id = #{record.pId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.live.liveteam.entity.GoodsMadeUp" >
    update goods_made_up
    <set >
      <if test="gId != null" >
        g_id = #{gId,jdbcType=BIGINT},
      </if>
      <if test="mName != null" >
        m_name = #{mName,jdbcType=VARCHAR},
      </if>
      <if test="mDesc != null" >
        m_desc = #{mDesc,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        p_id = #{pId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.live.liveteam.entity.GoodsMadeUp" >
    update goods_made_up
    set g_id = #{gId,jdbcType=BIGINT},
      m_name = #{mName,jdbcType=VARCHAR},
      m_desc = #{mDesc,jdbcType=VARCHAR},
      p_id = #{pId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>