<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.live.liveteam.mapper.UserLevelRightMapper" >
  <resultMap id="BaseResultMap" type="com.live.liveteam.entity.UserLevelRight" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="level_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="right_coupons_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="right_coupons_value" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="right_coupons_timeout" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="right_birth_gift" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="right_score_ratio" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="right_discount" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, level_name, right_coupons_number, right_coupons_value, right_coupons_timeout, 
    right_birth_gift, right_score_ratio, right_discount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.live.liveteam.entity.UserLevelRightExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_level_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_level_right
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_level_right
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.live.liveteam.entity.UserLevelRightExample" >
    delete from user_level_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.live.liveteam.entity.UserLevelRight" >
    insert into user_level_right (id, level_name, right_coupons_number, 
      right_coupons_value, right_coupons_timeout, 
      right_birth_gift, right_score_ratio, right_discount
      )
    values (#{id,jdbcType=INTEGER}, #{levelName,jdbcType=VARCHAR}, #{rightCouponsNumber,jdbcType=INTEGER}, 
      #{rightCouponsValue,jdbcType=INTEGER}, #{rightCouponsTimeout,jdbcType=BIGINT}, 
      #{rightBirthGift,jdbcType=INTEGER}, #{rightScoreRatio,jdbcType=INTEGER}, #{rightDiscount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.live.liveteam.entity.UserLevelRight" >
    insert into user_level_right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="levelName != null" >
        level_name,
      </if>
      <if test="rightCouponsNumber != null" >
        right_coupons_number,
      </if>
      <if test="rightCouponsValue != null" >
        right_coupons_value,
      </if>
      <if test="rightCouponsTimeout != null" >
        right_coupons_timeout,
      </if>
      <if test="rightBirthGift != null" >
        right_birth_gift,
      </if>
      <if test="rightScoreRatio != null" >
        right_score_ratio,
      </if>
      <if test="rightDiscount != null" >
        right_discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="levelName != null" >
        #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="rightCouponsNumber != null" >
        #{rightCouponsNumber,jdbcType=INTEGER},
      </if>
      <if test="rightCouponsValue != null" >
        #{rightCouponsValue,jdbcType=INTEGER},
      </if>
      <if test="rightCouponsTimeout != null" >
        #{rightCouponsTimeout,jdbcType=BIGINT},
      </if>
      <if test="rightBirthGift != null" >
        #{rightBirthGift,jdbcType=INTEGER},
      </if>
      <if test="rightScoreRatio != null" >
        #{rightScoreRatio,jdbcType=INTEGER},
      </if>
      <if test="rightDiscount != null" >
        #{rightDiscount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.live.liveteam.entity.UserLevelRightExample" resultType="java.lang.Integer" >
    select count(*) from user_level_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_level_right
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.levelName != null" >
        level_name = #{record.levelName,jdbcType=VARCHAR},
      </if>
      <if test="record.rightCouponsNumber != null" >
        right_coupons_number = #{record.rightCouponsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.rightCouponsValue != null" >
        right_coupons_value = #{record.rightCouponsValue,jdbcType=INTEGER},
      </if>
      <if test="record.rightCouponsTimeout != null" >
        right_coupons_timeout = #{record.rightCouponsTimeout,jdbcType=BIGINT},
      </if>
      <if test="record.rightBirthGift != null" >
        right_birth_gift = #{record.rightBirthGift,jdbcType=INTEGER},
      </if>
      <if test="record.rightScoreRatio != null" >
        right_score_ratio = #{record.rightScoreRatio,jdbcType=INTEGER},
      </if>
      <if test="record.rightDiscount != null" >
        right_discount = #{record.rightDiscount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_level_right
    set id = #{record.id,jdbcType=INTEGER},
      level_name = #{record.levelName,jdbcType=VARCHAR},
      right_coupons_number = #{record.rightCouponsNumber,jdbcType=INTEGER},
      right_coupons_value = #{record.rightCouponsValue,jdbcType=INTEGER},
      right_coupons_timeout = #{record.rightCouponsTimeout,jdbcType=BIGINT},
      right_birth_gift = #{record.rightBirthGift,jdbcType=INTEGER},
      right_score_ratio = #{record.rightScoreRatio,jdbcType=INTEGER},
      right_discount = #{record.rightDiscount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.live.liveteam.entity.UserLevelRight" >
    update user_level_right
    <set >
      <if test="levelName != null" >
        level_name = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="rightCouponsNumber != null" >
        right_coupons_number = #{rightCouponsNumber,jdbcType=INTEGER},
      </if>
      <if test="rightCouponsValue != null" >
        right_coupons_value = #{rightCouponsValue,jdbcType=INTEGER},
      </if>
      <if test="rightCouponsTimeout != null" >
        right_coupons_timeout = #{rightCouponsTimeout,jdbcType=BIGINT},
      </if>
      <if test="rightBirthGift != null" >
        right_birth_gift = #{rightBirthGift,jdbcType=INTEGER},
      </if>
      <if test="rightScoreRatio != null" >
        right_score_ratio = #{rightScoreRatio,jdbcType=INTEGER},
      </if>
      <if test="rightDiscount != null" >
        right_discount = #{rightDiscount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.live.liveteam.entity.UserLevelRight" >
    update user_level_right
    set level_name = #{levelName,jdbcType=VARCHAR},
      right_coupons_number = #{rightCouponsNumber,jdbcType=INTEGER},
      right_coupons_value = #{rightCouponsValue,jdbcType=INTEGER},
      right_coupons_timeout = #{rightCouponsTimeout,jdbcType=BIGINT},
      right_birth_gift = #{rightBirthGift,jdbcType=INTEGER},
      right_score_ratio = #{rightScoreRatio,jdbcType=INTEGER},
      right_discount = #{rightDiscount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>